* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  background-color: #fff;
  width: 95%;
  height: 200px;
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 10px;
}

.container h1 {
  margin-bottom: 1rem;
  color: #000f18;
}
.container p {
  margin-bottom: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000f18;
  height: fit-content;
  width: 100%;
  max-width: 700px;
}

.title {
  font-size: 0.8rem;
  color: #b3b3b3;
}

.logo {
  text-transform: uppercase;
  color: #008cff;
  margin-top: 1rem;
}

.nav {
  margin: 2rem 0;
}

.link {
  text-decoration: none;
  color: #b3b3b3;
  border: 1px solid #008cff;
  padding: 5px 10px;
  margin: 0 0.2rem;
  border-radius: 4px;
  font-weight: 500;
}

.active {
  background-color: #008cff;
  color: #fff;
  border: none;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 700px;
  height: fit-content;
  background-color: #9c9c9c;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10px 35px;
  background-color: #1c5180;
  padding-top: 50px;
  padding-bottom: 50px;
}

textarea {
  resize: none;
  height: 150px;
}

input {
  height: 3rem;
}

input,
textarea {
  outline: none;
  border: none;
  border-radius: 0 10px;
  padding: 10px;
  background-color: rgb(243, 243, 243);
  width: 100%;
  transition: all 0.2s ease;
}

input:focus,
textarea:focus {
  box-shadow: -2px 2px 5px rgb(83, 83, 83);
}

label {
  font-weight: bold;
  color: #ffffff;
  background-color: #000f18;
  padding: 0.5rem 1rem;
  width: 8rem;
  border-radius: 10px 10px 0 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 1rem;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #000f18;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  transition: 0.2s ease;
}

button:active {
  transform: scale(0.95);
}

.message {
  font-size: 0.8rem;
  text-align: center;
  padding: 0.5rem;
  font-weight: 500;
  visibility: hidden;
}

.success {
  visibility: visible;
  background-color: #00800044;
  color: rgb(88, 245, 114);
}
.danger {
  visibility: visible;
  background-color: #80000044;
  color: rgb(161, 25, 25);
}
